# Ambienti virtuali
.venv/
venv/
.vscode/
checkpoints/
env/

# Python cache
__pycache__/
*.pyc

#output
output/
runs/
plots/

# Dati (opzionale, ma consigliato per file pesanti)
*.xlsx
*.csv
*.png
*.pdf
*.txt
*.docx
*.pt 

#altri file
upsampling.py
stats.py
generator_cnn.py
reorganizer.py
preprocessor_fitted.pt
requirements.txt