# Ambienti virtuali
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

#output
output/
runs/
# Dati (opzionale, ma consigliato per file pesanti)
*.xlsx
*.csv
*.png
*.pdf
*.txt
*.docx
*.pt 
*.json

#altri file
upsampling.py
metrics.py
plots.py
stats.py
main_eval2.py
generator_cnn.py